<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>
    
        <button><a href="accueil/game">DebutePartie</a></button>
    <p>Ceci est un test pour voir si ca fonctionne</p>
</body>
</html>